.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section1{
    
    width: 30%;
    margin: 60px;
    margin-right: 20px;
    margin-top: 20px;
}
.section2{
    box-shadow: 0 3px 10px rgb(72 94 117 / 15%);
    border-radius: 8px;
    width: 35%;
    margin: 60px;
    margin-left: 60px;
    margin-top: 20px;
    
}
.main-form{
    align-content: center;
}
.mainsection {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.loginform{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.top-image{
    font-family: 'Neuton',serif;
    padding: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: #003873;
 
}
.loginheading{
    font-family: 'Neuton',serif;
    font-size: 40px;
    font-weight: 400px;
    padding-left: 30px;
    color: #003873;
    margin: 24px auto 28px;
    text-align: center;
}

.input {
    height: auto;
    line-height: 1.375;
    letter-spacing: .46px;
    padding: 14px 11px;
    font-size: 16px;
    font-weight: 400;
    width: 400px;
    flex-wrap: wrap;
}
.text{
    color:rgb(109, 109, 109) ;
    font-weight:600;
    font-size: large;
    margin-top: 15px;
    
}
.forgot{
    display: flex;
    justify-content: right;
    text-decoration: none;
    font-weight:500;
    margin-top: 10px;
}
.entername{
    display: flex;
    flex-direction: column;
}
.loginemail{
    display: flex;
    flex-direction: column;
    
}
.loginpassword{
    display: flex;
    flex-direction: column;
}
.list{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #6a6c6f;;
}
.form-check-label{
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.5px;
    font-size: 15px;
}
.btn-primary{
    width: 400px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.bottom-para{
    
    font-size: 15px; 
    color: rgba(24, 27, 31, 0.64);
    letter-spacing: 0.25px;
    text-align: center;
}
.bottom-link{
    text-decoration: none;
}
.section2-imagediv{
    width: 100%;
}
#section2-image{
   background-size: cover ;
    width: 80%;
    height: 200px;
   margin-left: 45px;
   margin-top: 25px;
}
.main-para{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;

}
.section2-para{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-size: x-large;
}
.section2-para1{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: larger;
}
.section2-para2{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}


@media(max-width:992px){
    .section2{
        display: none;
    }
    .section1{
        min-width:40%;
        padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .loginheading{
        text-align: center;
        padding-left: 0%;
    }
    .input
    {
        width: 450px;
      
    }
    .btn-primary{
        width: 450px;
      
    }
    .bottom-para{
        width: 300px;
        text-align: center;
    }
}
@media(max-width:555px){
    .loginheading{
        text-align: center;
        padding-left: 0%;
    }
    .input{
        width: 300px;
        align-items: center;
    }
    .btn-primary{
        width: 300px;
        text-align: center;
    }
    .bottom-para{
        text-align: center;
    }
}