:root {
    --primary-color-1: #135863;
    --primary-color-2: #1C8090;
    --primary-color-2-light: #29c0d7;
    --primary-color-2-light-2: #faf1e6;
    --dark-gray: #3e4e61;
    --metal: #646464;
    --metal-light: #dcdee7;
}